<!doctype html>
<html>
<head>
    <title>Welcome to Port Salut Beach Resort!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <section class= "center">
    <h1> Haïti's Port-Salut Beach Resort</h1>
    <img class="haiti"src="img/haiti.png" alt="haitian flag">
  </section>


<section class="CashierContainer">
</section>

   <div class="container">

       <div class="jumbotron text-center">
           <img class="savage"src="img/savage21.jpg" alt="21 Savage Profile Photo">

           <p>A Vacation Worth Remembering</p>

           <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
           <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

       </div>


   </div>
</body>
</html>
